page-detalhes {
    .scroll-content {
        background-color: black;
    }
    .item-inner {
        background-color: black;
    }
    h2.Feed_Title {
        color: whitesmoke;
        background-color: black;
        font-weight: bold;
    }
    p.feed_date {
        color: whitesmoke;
        background-color: black;
    }
    p.feed_overview {
        color: whitesmoke;
        background-color: black;
    }
    ion-item.item.item-block.item-md {
        background-color: black;
    }
    ion-card-content.card-content.card-content-md {
        background-color: black;
    }
    ion-card.card.card-md {
        background-color: black;
    }

}
